body {
  background-color: #282c34;
  font-family: sans-serif;
  color: #111111;
}

.appContainer {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  border-radius: 4px;
  padding: 20px;
  min-height: calc(100vh - 202px)
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: #61dafb;
}

ul.header li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.appContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background-color: #282c34;
  padding: 20px;
}

.appContent h2 {
  padding: 0;
  margin: 0;
}

.appContent li {
  margin-bottom: 10px;
}

.active {
  background-color: #1ea5ff;
}

.footer {
  text-align: center;
  font-size: 150%;
  color: #fff;
  margin: 0;
  padding: 30px;
  background: #446CB3;
  margin-top: 20px;
}

